<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE|default:"ja-jp" }}">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="container">
        {% block content %}
            {{ content }}
        {% endblock %}
    </main>
</body>
</html>