{% extends "base.html" %}
{% load static %}
{% block title %}これから{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              <button onclick="location.href='{% url 'accounts:password_change' %}'" class="btn btn-lg btn-primary btn-block text-uppercase"><i class="fab fa-google mr-2"></i>パスワード変更</button>
              <button onclick="location.href='{% url 'accounts:logout' %}'" class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i>ログアウト</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}