{% extends "base.html" %}
{% load static %}
{% block title %}パスワード変更完了{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">パスワード変更完了</h5>
            <hr class="my-4">
            <button onclick="location.href='{% url 'accounts:home' %}'" class="btn btn-lg btn-primary btn-block text-uppercase">戻る</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}